Source: niri-meta
Section: metapackages
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/cccp-linux/niri-meta
Vcs-Git: https://github.com/cccp-linux/niri-meta.git

Package: niri-meta
Architecture: any
Depends:
 ${misc:Depends},
 niri,
 quickshell,
Recommends:
 bluez,
 brightness-udev,
 brightnessctl,
 curl,
 ffmpeg,
 fonts-courier-nerd,
 fonts-roboto,
 fonts-roboto-mono,
 fonts-roboto-slab,
 jq,
 mpv,
 network-manager,
 pipewire-audio,
 playerctl,
 procps,
 tuned-utils,
 udisks2,
 wireplumber,
 wlsunset,
 wpasupplicant,
 xdg-utils,
 xwayland-satellite,
Description: Shell meta-package
