Source: shell-meta
Section: metapackages
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/cccp-linux/shell-meta
Vcs-Git: https://github.com/cccp-linux/shell-meta.git

Package: shell-meta
Architecture: any
Depends:
 ${misc:Depends},
 niri,
 quickshell,
Recommends:
 bluez,
 brightnessctl,
 curl,      # wlsunset-toggle
 jq,        # wlsunset-toggle
 network-manager,
 playerctl,
 procps,    # wlsunset-toggle
 udisks2,
 wireplumber,
 wlsunset
 wpasupplicant,
Description: Shell meta-package
