Source: niri-meta
Section: metapackages
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/cccp-linux/niri-meta
Vcs-Git: https://github.com/cccp-linux/niri-meta.git

Package: niri-meta
Architecture: any
Depends:
 ${misc:Depends},
 niri,
 quickshell,
Recommends:
 bluez,
 brightnessctl,
 curl,
 jq,
 network-manager,
 playerctl,
 procps,
 udisks2,
 wireplumber,
 wlsunset,
 wpasupplicant,
Description: Shell meta-package
