window {
   background-image: url("/usr/share/backgrounds/niri-meta/carbon-fiber.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}
