/* style.css */

* {
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 300;
}

tooltip {
    background-color: #2e3440; /* polar0 */
    border: 1px solid #4c566a; /* polar3 */
}

tooltip label {
    color: #d8dee9; /* snow4 */
    font-family: Roboto;
}

#waybar {
    background-color: #2e3440; /* polar0 */
    border-bottom: 1px solid #4c566a; /* polar3 */
    color: #d8dee9; /* snow4 */
}

/********************/
@keyframes blink {
    to {
        color: transparent;
    }
}

#clock,
#bluetooth {
    font-family: Roboto;
}

#cpu.high {
    color: #d08770; /* orange12 */
}
#cpu.max {
    color: #bf616a; /* red11 */
}

#custom-battery {
    margin-right: 16px;
}
#custom-battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-battery.critical, #custom-battery.low {
    color: #bf616a; /* red11 */
}
#custom-battery.full {
    color: #a3be8c; /* green14 */
}
#custom-battery.warning {
    color: #ebcb8b; /* yellow13 */
}

#custom-launcher {
    margin-left: 16px;
}

#custom-network {
    font-family: Roboto;
}
#custom-network.connecting {
    animation-name: blink;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#idle_inhibitor {
    color: #81a1c1; /* frost9 */
}
#idle_inhibitor.activated {
    color: #b48ead; /* purple15 */
}

#language {
    color: #81a1c1; /* frost9 */
    font-family: Roboto;
}

#memory.high {
    color: #d08770; /* orange12 */
}
#memory.max {
    color: #bf616a; /* red11 */
}

#power-profiles-daemon {
    color: #81a1c1; /* frost9 */
}
#power-profiles-daemon.performance {
    color: #bf616a; /* red11 */
}
#power-profiles-daemon.power-saver {
    color: #a3be8c; /* green14 */
}

#temperature.warning {
    color: #d08770; /* orange12 */
}
#temperature.critical {
    color: #bf616a; /* red11 */
}

#wireplumber.muted {
    color: #4c566a; /* polar3 */
}

#workspaces {
}
#workspaces button {
    background-color: #5e81ac; /* frost10 */
    border-radius: 50%;
    border: none;
    color: #2e3440; /* polar0 */
    margin: 10px 3px;
    min-height: 0;
    min-width: 0;
    padding: 0px 5px;
    transition: all 0.2s ease;
}
#workspaces button.active {
    background-color: #88c0d0; /* frost8 */
    border-radius: 30px;
    padding: 0px 12px;
}
#workspaces button.urgent {
    background-color: #bf616a; /* red11 */
}
#workspaces button label {
    font-weight: bold;
    font-size: 9px;
}
